html,
body {
  display: block;
  height: 100vh;
}

body {
  position: relative;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--font-alternative);
}

*,
::before,
::after {
  box-sizing: border-box;
}
