@import '@/assets/scss/theme.scss';

:root {
  --font-family: 'Nunito', sans-serif;
  --font-alternative: 'Catamaran', sans-serif;
  --font-size: 1em;

  @mixin s($name, $color) {
    $percentages: (80%, 60%, 40%, 20%, 0, -20%, -40%, -60%, -80%);

    @each $percentage in $percentages {
      $i: index($percentages, $percentage);
      $variation: $color;

      @if ($percentage > 0) {
        $variation: mix(white, $color, $percentage);
      }

      @else if ($percentage < 0) {
        $variation: mix(black, $color, $percentage * -1);
      }

      --bs-#{$name}-#{$i*100}: #{$variation};
    }
  }

  @each $name, $value in $theme-colors {
    @include s($name, $value);
  }
}
