<template>
  <div class="not-found">
    <h3>Not Found</h3>
    <p>
      The page you are looking for
      <b>{{ $route.params.pathMatch }}</b>
      could not be found
    </p>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/runtime-core';

  export default defineComponent({
    name: 'dx-not-found',
    mounted(): void {
      console.info('The page you are looking for could not be found');
    },
  });
</script>
