<template>
  <div>Welcome!</div>
  <h2>Notlar</h2>
  <ul>
    <li>
      Theme, Font, Global scss'ler için assets/scss altındaki scss dosyalarımızı kullanıyoruz. Bunları App.vue içerisinde importer.scss ile projeye
      aktarıyoruz
    </li>
    <li>
      Bileşenlerimiz, Filtrelerimiz, Directive ve Plugin'lerimiz için kendi klasörlerini kullanıyoruz. İsimlendirme standardımız: *.component.vue,
      *.directive.vue, *.filter.vue şeklindedir. İsimde birden çok kelime içeriyorsa araya "-" ekleyerek ilerliyoruz (ornek-dosya-adi.component.vue).
    </li>
    <li>Routing için Route klasörü altındaki index.ts üzerinde gerekli tanımlamaları yapabilirsiniz.</li>
    <li>State management için Vuex kullanıyoruz, Store klasörü altında index.ts içerisinde bulabilirsiniz.</li>
    <li>
      View klasörü altında görüntülenecek sayfalarımızı tutuyoruz. Dosyaları isimlendirirken home.page.vue, about.page.vue gibi *.page.vue standartını
      benimsiyoruz.
    </li>
    <li>Runtime ve Compile time console loglarında warning veya error olmamasını önemsiyoruz.</li>
    <li>
      Commit'ler konusunda
      <a href="https://dev.to/i5han3/git-commit-message-convention-that-you-can-follow-1709">git-commit-message-convention</a>
      standartlarına dikkat edilmesine dikkat ediyoruz
    </li>
  </ul>

  <h3>Dependencies</h3>
  <ul class="dependencies">
    <li :key="index" v-for="(dep, index) of deps">
      <b>{{ index }}:</b>
      {{ dep }}
    </li>
  </ul>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/runtime-core';

  export default defineComponent({
    data() {
      return {
        deps: JSON.parse(process.env.VUE_APP_VUE_DEPS as string),
      };
    },
  });
</script>

<style lang="scss">
  ul.dependencies li {
    font-size: 16px;
  }
</style>
