<template>
  <h1>Starter Kit {{ version }}</h1>
  <router-view />
</template>

<script lang="ts">
  import { defineComponent } from '@vue/runtime-core';

  declare module '@vue/runtime-core' {
    interface Vue {
      version: string;
    }
  }

  export default defineComponent({
    data() {
      return {
        version: process.env.VUE_APP_VERSION,
      };
    },
  });
</script>

<style lang="scss">
  @import '@/assets/scss/importer.scss';
</style>
